/* styles.module.css */
.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  z-index: 1000;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal_body {
  margin-top: 10px;
}

.modal_footer {
  margin-top: 20px;
  text-align: right;
}
/* popover */
.popover_btn {
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 0;
}
.icon_edit,
.icon_del {
  padding-right: 8px;
  width: 16px;
  height: 16px;
}
.icon_edit {
  stroke: #85aa9f;
}
.icon_del {
  fill: #85aa9f;
}
