@import '../../index.scss';

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  max-width: 100%;
  text-decoration: none;
  cursor: pointer;
  /* text */
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45em;
  color: #121417;
}

.logo_icon {
  padding: 0;
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;
  transition: filter 300ms;
}

.logo_icon img {
  width: 100%;
  height: auto;
}

.logo_container p {
  font-size: 1.2em;
  margin: 0;
}

@media (max-width: 768px) {
  .logo_icon {
    height: 3em;
    padding: 0.5em;
  }

  .logo_container p {
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .logo_icon {
    height: 2.5em;
    padding: 0.25em;
  }

  .logo_container p {
    font-size: 0.9em;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em var(--color-logo));
}
