@import '../../../../index.css';
.select,
.selector {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 18px;

  box-sizing: border-box;
  padding: 12px 24px;
  width: 204px;
  height: 48px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 15px;
  background: transparent;
  margin-top: 32px;
  // margin-bottom: 70px;
  position: relative;
}

.radioBtnGroup {
  display: flex;
  gap: 82px;
  // position: absolute;
}

.radioBtnContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioBtnInput {
  display: none;
}

.radioBtnLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fcfcfc;
  background: transparent;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.radioBtnInput:checked + .radioBtnLabel::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}

.radioBtnInput:checked + .radioBtnLabel {
  border-color: white;
}

.radioBtnText {
  font-size: 16px;
  color: #fcfcfc;
  position: absolute;
  margin-left: 96px;
}
