@import '../../../index.css';

.user_bar {
  background: yellow;
  display: flex;
  align-items: center;
}
.user_bar span {
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  color: #121417;
  padding-right: 10px;
}
.btn_arrow {
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  gap: 6px;
  padding-left: 16px;

  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #121417;
}
.avatar {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.progress_bar_container {
  border: 1px solid green;
  border-radius: 50%;
  overflow: hidden;
}
.bar {
  height: 10px;
  background: green;
  transition: width 0.3s ease;
}
@media (min-width: 768px) {
  .avatar {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1440px) {
  .avatar {
    width: 40px;
    height: 40px;
  }
}
