@import '../../index.css';

.logoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Адаптивна верстка для мобільних пристроїв від 320px */
@media (min-width: 320px) {
  .logo {
    width: 36px;
    height: 36px;
  }

  p {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semi-bold);
    font-size: 18px;
    line-height: 1.33em;
    color: var(--color-text-title);
  }
}

/* Від 375px: можна додати додаткові стилі для адаптивності */
@media (min-width: 375px) {
  /* Додаткові стилі для адаптивності можна додати тут */
}

/* Адаптивна верстка для планшетів від 768px */
@media (min-width: 768px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 20px;
    line-height: 1.4em;
  }
}

/* Адаптивна верстка для десктопів від 1440px */
@media (min-width: 1440px) {
  .logo {
    width: 48px;
    height: 48px;
  }

  p {
    font-size: 22px;
    line-height: 1.45em;
  }
}
