@import '../../../index.css';

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 1000;
}

.modal_content {
  padding: 20px;
  z-index: 1001;
}
.modal_container {
  position: relative;
  background-color: #85aa9f;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
.footer_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.footer_btns button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;

  width: 245px;
  height: 56px;

  border-radius: 30px;
  border: #ffffff;

  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.footer_btns button.active-form {
  background-color: #ffffff;
  color: yellow;
}
.footer_btns button.inactive {
  background-color: transparent;
  border: 1px solid #fcfcfc;

  color: #fcfcfc;
}
.footer_btns button:hover {
  background-color: #85aa9f;
  border: 1px solid #fcfcfc;

  color: #ffffff;
}
.footer_btns button.active-form {
  background-color: #ffffff;
  border: 1px solid #fcfcfc;
  color: #85aa9f;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_body {
  margin-top: 20px;
}

.modal_footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
