@import '../../../../index.css';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 15px;
  background-color: transparent;
  font-family: 'MacPaw Fixel Display', sans-serif;
  font-size: 16px;
  color: #fcfcfc;
  transition: border 0.3s;

  &:focus {
    outline: none;
    border-color: rgba(252, 252, 252, 0.6);
  }

  &.error {
    border-color: #dc3545;
  }
}

.errorMessage {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.formBtn {
  display: flex;
  gap: 10px;
  width: 100%;
}

.submitBtn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  height: 56px;
  background-color: transparent;
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-family: 'MacPaw Fixel Display', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
