@import '../../../../index.scss';

/* popover */

.popoverContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 12px 24px;
  gap: 8px;

  width: auto;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 47px rgba(18, 20, 23, 0.08);
  border-radius: 15px;
  z-index: 3;
}
.popover {
  display: flex;
  align-items: start;
  justify-content: center;

  background: yellow;
  border: none;
  box-shadow: 0px 4px 47px rgba(18, 20, 23, 0.08);
  border-radius: 15px;
  z-index: 3;
}

.popoverArrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: inherit;
  transform: rotate(45deg);
  z-index: -1;
}
.trigger {
  border: none;
  background: transparent;
}
