.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  place-items: center;
}
.modalСontainer {
  position: relative;
  width: 628px;
  height: 622px;
  padding: 48px 64px;
  background: #85aa9f;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.modalBody {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  flex-grow: 1;
}

.closeBtn {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;

  &:hover {
    color: #ff5f5f;
  }
}

.modalHeader {
  /* Headline text/H1 */
  margin: 0;
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  color: #fcfcfc;
}

.modalDescription {
  /* Subtitle text/1 */
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: rgba(252, 252, 252, 0.8);
}
.modalСontent {
  // background: yellow;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;

    &.add {
      background-color: #28a745;
      color: #fff;

      &:hover {
        background-color: #218838;
      }
    }

    &.cancel {
      background-color: #dc3545;
      color: #fff;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
