@import '../../../index.scss';

.form_toggle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.button {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  position: relative;
}

.active_button {
  background: var(--color-green-cyan);
  color: var(--color-white);
  z-index: 1;
  order: 1;
}

.inactive_button {
  background: transparent;
  color: rgba(18, 20, 23, 0.5);
  text-decoration-line: underline;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  z-index: 0;
  order: 2;
  height: auto;
}

h2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  color: var(--color-text-title);
  margin: 0;
  padding-bottom: 20px;
}

.subtitle {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 1.5em;
  color: var(--color-text-subtitle);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.form_container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: rgba(133, 170, 159, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.fields_container {
  display: flex;
  flex-direction: column;
}

.field input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  width: 100%;
  max-width: 100%;
  height: 56px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
}
.validation_error {
  position: absolute;
  font-size: 10px;
  color: red;
}
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
  }

  .form_container {
    padding: 48px 64px;
    max-width: 628px;
    border-radius: 30px;
  }

  .field input {
    padding: 16px 18px;
    width: 500px;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
  }

  .form_container {
    height: 592px;
    left: calc(50% - 628px / 2 - 306px);
    top: 128px;
  }

  .field input {
    width: 500px;
  }
}
