//Dictionary.scss
@use '../../index' as *;

.dictionaryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background: var(--color-gray-light);
  margin: 0;
  padding: 16px;

  @media (min-width: 375px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    padding: 24px;
  }

  @media (min-width: 1440px) {
    padding: 24px;
  }
}
