@import '../../index.css';

.dictionary_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  position: relative;
  padding: 24px;
}
.icon_search {
  position: absolute;
  right: 0;
}
/* dialog  */
.dialog_overlay {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.dialog {
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}
