@import '../../index.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 80px;
  padding: 0 30px;
  flex: 0 0 auto;
}

.logoContainer {
  flex: 0 0 auto;
}
.user_info {
  flex: 0 0 auto;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.authenticated {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burgerMenu {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
  }

  .logoContainer {
    flex: 0 0 auto;
  }
  .user_info {
    flex: 0 0 auto;
  }

  .menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .burgerMenu {
    display: block;
  }

  /* .menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
  }
 */
  .menu.open {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .header {
    height: 100px;
    padding: 0 100px;
  }

  .logoContainer {
    flex: none;
  }

  .menu {
    background: lightcoral;
    flex: 1;
    display: flex;
    gap: 15px;
  }

  .userInfo {
    margin-left: auto;
  }
}
